version: '3.8'

services:
  gpt-vis-ssr:
    # image: ghcr.io/luler/gpt_vis_ssr:latest
    image: my-gpt-vis-ssr:v1
    ports:
      - 8084:3000
    volumes:
      - ./images:/app/public/images
    environment:
      - NODE_ENV=production
      - TZ=Asia/Shanghai
    restart: unless-stopped
